@import "tailwindcss";

@theme {
  --color-primary: #1b5e20;
  --color-accent: #f57c00;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
